.homeContainer {
    margin-top: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allPokemons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #DDD9D8  ;
}