.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #FE5858;
    position: fixed;
    z-index: 0;
    width: 100%;
}

.createLink {
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 1s;
}

.createLink:hover {
    font-size: 2rem;
    transition: 1s;
}