.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #FE5858;
    position: fixed;
    z-index: 0;
    width: 100%;
}

.openSearchBar {
    align-self: flex-end;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: .6rem;
    cursor: pointer;
}

.createLink {
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}

.createLink:hover {
    font-size: 2rem;
    transition: .5s;
}